<% layout('base/base') %>

<style>
  .seperate {
    background-color: #e6b41b !important;
    padding: 15px;
  }
</style>

<a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand" style="color: white">Start Here</li>
    <li class="seperate">AUTHENTICATE</li>
    <% if (!currUser) { %>
    <li class="sidebar-nav-item"><a href="/login">Login</a></li>
    <li class="sidebar-nav-item"><a href="/register">Register</a></li>
    <% } %> <% if(currUser){ %>
    <li class="sidebar-nav-item">
      <a href="/product/create">Create Product</a>
    </li>
    <li class="sidebar-nav-item"><a href="/logout">Logout</a></li>
    <% } %>
    <li class="seperate">NAVIGATE</li>
    <li class="sidebar-nav-item"><a href="/#home">Home</a></li>
    <li class="sidebar-nav-item"><a href="/#about">About</a></li>
    <li class="sidebar-nav-item"><a href="/#services">Services</a></li>

    <li class="sidebar-nav-item"><a href="/product">Products</a></li>
    <% if (currUser) { %>
    <li class="seperate">INFORMATION</li>
    <li class="sidebar-nav-item">
      <a href="/purchase">Your Purchase</a>
    </li>
    <li class="sidebar-nav-item"><a href="/profile">Profile</a></li>
    <% } %>
  </ul>
</nav>

<header class="masthead d-flex align-items-center" id="home">
  <div class="container px-4 px-lg-5 text-center">
    <h1 class="mb-1">ARTELIER</h1>
    <h3 class="mb-5">
      <em style="text-transform: capitalize"
        >An online crowd sourcing app-based service for digital art specific
        commissions</em
      >
    </h3>
    <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
  </div>
</header>
<!-- About-->
<section class="content-section bg-light" id="about">
  <div class="container px-4 px-lg-5 text-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-10">
        <h2>Artelier is The Perfect Spot For Your Next Digital Arts!</h2>
        <p class="lead mb-5">
          This Website features a flexible, Very Friendly Artists and We Offer a
          Low Cost Digital Arts! !
        </p>
        <a class="btn btn-dark btn-xl" href="#services">What We Offer</a>
      </div>
    </div>
  </div>
</section>

<!-- Callout-->
<section class="callout">
  <div class="container px-4 px-lg-5 text-center">
    <h2 class="mx-auto mb-5">
      CHECK THE
      <em>BEST</em>
      ARTS SAMPLE!
    </h2>
    <a class="btn btn-primary btn-xl" href="/product">SHOW ME PLEASE</a>
  </div>
</section>

<!-- Services-->
<section
  class="content-section bg-primary text-white text-center"
  id="services"
>
  <div class="container px-4 px-lg-5">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Services</h3>
      <h2 class="mb-5">What We Offer</h2>
    </div>
    <div class="row gx-4 gx-lg-5">
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3"
          ><i class="icon-screen-smartphone"></i
        ></span>
        <h4><strong>All Device</strong></h4>
        <p class="text-faded mb-0">
          You Could View Your Digital Arts In Any Device
        </p>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3"
          ><i class="icon-pencil"></i
        ></span>
        <h4><strong>Accurate</strong></h4>
        <p class="text-faded mb-0">
          Freshly Created Arts Are Accurate On What You Desire
        </p>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3"
          ><i class="icon-like"></i
        ></span>
        <h4><strong>Favorited</strong></h4>
        <p class="text-faded mb-0">
          It Will Be Your New Favourite Digital Art!
        </p>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>
